In [4]:
def first_func():
  print("Hi Anas! How are you?")

Hello World!

In [ ]:
def first_func():
  print("Hi Anas! How are you?")
first_func()

In [9]:
# Function with Variable
def intro(name):
    print("Hello " + name + "!")

name = input("What is your name: ")
intro(name)

What is your name: anas
Hello anas!

In [14]:
def intro(name = 'Anas'):
    print("Hello " + name + "!")
intro()

Hello Anas!

In [18]:
def divide(x, y):
  dev= int(x)/int(y)
  return(dev)
x= input("enter the devident: ")
y= input("enter the devisor: ")
divide(x, y)

enter the devident: 4
enter the devisor: 2

2.0

In [20]:
def add_func(x = '10', y = '10'):
    sum = int(x) + int(y)
    return sum


x = input("Enter 1st Number: ")
y = input("Enter 2nd Number: ")

add_func(x, y)

Enter 1st Number: 4
Enter 2nd Number: 5

9

In [28]:
# Using Positional Arguments

def info(name = 'student name', institute = 'AiCademy'):
    """Display information about a pet."""
    print("\nI am " + name + ".")
    print("I am working for " + institute + ".")


info('Anas', 'AiCademy')
info('Kumail', 'willie')

info()
info(name='Sara', institute='IUB')

I am Anas.
I am working for AiCademy.

I am Kumail.
I am working for willie.

I am student name.
I am working for AiCademy.

I am Sara.
I am working for IUB.

In [7]:
def first_func(name,institute):
  print("Hi "+name +", How are you? Wellcome to "+ institute)
first_func(name="Anas", institute="AiCademy")

Hi Anas, How are you? Wellcome to AiCademy

In [34]:
# Returning Single Value

def get_full_name(first, last):
    full_name = first + ' ' + last
    return full_name.title()

get_full_name('jimi', 'hendrix')

'Jimi Hendrix'

In [40]:
def biography(name, age, clas):
  info= {"Name": name, "Age": age, "Class": clas}
  return info
name = input("Enter your name: ")
age = input("Enter your age: ")
clas = input("Enter your class: ")
biography(name, age , clas)

Enter your name: anas
Enter your age: 21
Enter your class: first year

{'Name': 'anas', 'Age': '21', 'Class': 'first year'}